<div class="ui fluid text container center aligned footDetails">
	<div class="smallStuff">
		<p style="margin-bottom: 0;">Follow Me</p>
	</div>
	<div class="icons smallStuff">
		<a class="sMedia" href="https://github.com/kevin5112">
			<i class="large github icon"></i>
		</a>
		<a class="sMedia" href="https://www.linkedin.com/in/kevin-chen-084baa173/">
			<i class="large linkedin icon"></i>
		</a>
		<a class="sMedia" href="https://twitter.com/Got_Toaster">
			<i class="large twitter icon"></i>
		</a>
	</div>
	<div class="smallStuff">
		<a href="/"><strong>Back to Top</strong></a>
	</div>
	<div class="cpright">
		<p>Made by Kevin Chen</p>
	</div>
</div>
</body>
</html>