<% include ./partials/header %>

<div class="ui main text container addHeight">
	<div class="ui top attacked segment">
	<div class="ui huge header">Contact</div>
		<h3><a href="mailto:kevin5112@yahoo.com">Contact Me!</a></h3>

	</div>

	<!-- <div class="ui form">
		<div class="field">
			<label>First Name</label>
			<input type="text" name="fname" placeholder="First Name">
		</div>
		<div class="field">
			<label>Last Name</label>
			<input type="text" name="lname" placeholder="Last Name">
		</div>
		<div class="field">
			<label>E-mail</label>
			<input type="email" name="email" placeholder="joe@schmoe.com">
		</div>
		<div class="field">
			<label>Text</label>
			<textarea></textarea>
		</div>
		<div class="ui submit button">Submit</div>
	</div> -->
</div>


<% include ./partials/footer %>
