<% include ./partials/header %>

<div class="ui fluid top attacked segment container summry">
	<div class="ui container boxLeft">
		<div class="nameBox">
			<p class="ui huge name">Kevin Chen</p>
			<p class="nameText">Computer Science major studying at California State University of Fullerton.</p>

			<button class="circular ui button nameBoxButton" onclick="window.location.href='https://drive.google.com/file/d/16mgrjHdQyGTc1ByN_-3vNSmTEo8vxOsY/view?usp=sharing'">View Resume</button>
			<a class="sMedia" href="https://github.com/kevin5112">
				<i class="large github icon"></i>
			</a>
			<a class="sMedia" href="https://www.linkedin.com/in/kevin-chen-084baa173/">
				<i class="large linkedin icon"></i>
			</a>
			<a class="sMedia" href="https://twitter.com/Got_Toaster">
				<i class="large twitter icon"></i>
			</a>
		</div>
	</div>
</div>


<!-- PROJECTS  -->

<!-- project header -->
<div style="background: white;">
<div id="projects" class="sideProjects">
	<div class="ui fluid container addHeight">
		<p class="projectHeader">Projects</p>
		<p class="projectBody">Browse through some of my side projects</p>
	</div>
</div>


<!-- project content -->
<!-- This is disgusting... Must fix later -->
<!-- make a loop to loop through all the projects and print them out accordingly -->
<div class="gridLayout">
	<div class="ui grid">
		<div class="doubling stackable three column row rowFlex">
			<div class="column">
				<div class="cardLayout">
					<div class="ui centered card">
					  <div class="imageBox">
					    <img src="https://cdn.howtoplay.org/wp-content/uploads/2015/08/Blackjack-cards-and-chips.png">
					  </div>
					  <div class="content contentBox">
					    <a href="https://github.com/kevin5112/Blackjack" class="header">Blackjack</a>
					    <div class="meta">
					      <span class="date">2018</span>
					    </div>
					    <div class="description">
					      App created to bet and play on a game of Blackjack.
					    </div>
					  </div>
					  <div class="extra content">
					    	C++
					  </div>
					</div>
				</div>
			</div>
			<div class="column">
				<div class="cardLayout">
					<div class="ui centered card">
					  <div class="imageBox">
					    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcREpvS8fu2q9l_9JKw95trPEKrQezxpFfvk22k_zXZBLUuyy18MJg">
					  </div>
					  <div class="content contentBox">
					    <a href="https://github.com/kevin5112/Password-Manager" class="header">Password Manager</a>
					    <div class="meta">
					      <span class="date">2018</span>
					    </div>
					    <div class="description">
					      Manages all of your accounts and passwords.  Has a built in password generator.
					    </div>
					  </div>
					  <div class="extra content">
					    	Python
					  </div>
					</div>
				</div>
			</div>
			<div class="column">
				<div class="cardLayout">
					<div class="ui centered card">
					  <div class="imageBox">
					    <img src="https://home.army.mil/benelux/application/files/thumbnails/small/4914/8417/3039/phonebook.png">
					  </div>
					  <div class="content contentBox">
					    <a href="https://github.com/kevin5112/Phonebook" class="header">Phonebook</a>
					    <div class="meta">
					      <span class="date">2017</span>
					    </div>
					    <div class="description">
					      Phonebook app that allows you to add, remove, and list all your contact information.
					    </div>
					  </div>
					  <div class="extra content">
					  	C++
					  </div>
					</div>
				</div>
			</div>
			<div class="column">
				<div class="cardLayout">
					<div class="ui centered card">
					  <div class="imageBox fixEbayImage">
					    <img src="https://lh3.googleusercontent.com/31-mJUIynIfQBizOn-w1yWLKHBxVeRKA3gz348_E3K-TnuEaqCjn_-Fr9j0yQ6i0y5E">
					  </div>
					  <div class="content contentBox">
					    <a href="https://github.com/kevin5112/Ebay-Average-Price-Finder" class="header">Ebay Average Price Finder</a>
					    <div class="meta">
					      <span class="date">2019</span>
					    </div>
					    <div class="description">
					      Uses the Ebay API to search for all sellings of an item, then computes the average selling price on eBay.
					    </div>
					  </div>
					  <div class="extra content">
					  	NodeJS, Express
					  </div>
					</div>
				</div>
			</div>
			<div class="column">
				<div class="cardLayout">
					<div class="ui centered card">
					  <div class="imageBox fixPirateImage">
					    <img src="https://swoonproduction.s3.amazonaws.com/media/images/quiz_xEHRxwV.2e16d0ba.fill-620x413.jpg">
					  </div>
					  <div class="content contentBox">
					    <a href="https://github.com/kevin5112/QuizApp" class="header">Quiz App</a>
					    <div class="meta">
					      <span class="date">2019</span>
					    </div>
					    <div class="description">
					      App made to help quiz you on topics before your exams.
					    </div>
					  </div>
					  <div class="extra content">
					  	Django
					  </div>
					</div>
				</div>
			</div>
			<div class="column">
				<div class="cardLayout">
					<div class="ui centered card">
					  <div class="imageBox fixCloudImage">
					    <img src="https://www.rnz.co.nz/assets/news_crops/47177/eight_col_Clourd_computing_%28pixabay%29.jpg?1511488392">
					  </div>
					  <div class="content contentBox">
					    <a class="header">Pirate Bin</a>
					    <div class="meta">
					      <span class="date">2019</span>
					    </div>
					    <div class="description">
					      A distributed cloud storage system.
					    </div>
					  </div>
					  <div class="extra content">
					  	C++, NodeJS
					  </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

</div>


<% include ./partials/footer %>
