<% include ./partials/header %>

<div class="ui fluid top attacked segment container summry">
	<div class="ui container boxLeft">
		<div class="nameBox">
			<p class="ui huge name">Kevin Chen</p>
			<p class="nameText">Computer Science major studying at California State University of Fullerton.</p>

			<button class="circular ui button nameBoxButton" onclick="window.location.href='https://drive.google.com/file/d/14alv65yaZP0T8yRDMwzFB2h422ag-4re/view?usp=sharing'">View Resume</button>
			<a class="sMedia" href="https://github.com/kevin5112">
				<i class="large github icon"></i>
			</a>
			<a class="sMedia" href="https://www.linkedin.com/in/kevin-chen-084baa173/">
				<i class="large linkedin icon"></i>
			</a>
			<a class="sMedia" href="https://twitter.com/Got_Toaster">
				<i class="large twitter icon"></i>
			</a>
		</div>
	</div>
</div>

<div id="projects" class="ui fluid container sideProjects">
	<p class="projectHeader">Projects</p>
	<p class="projectBody">Browse through some of my side projects</p>
</div>

<% include ./partials/footer %>
